{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Knowledge</title>
    {% block 'extra_css' %}{% endblock %}
    <link rel="stylesheet" href="{% static "links/vendors/bootstrap-3.3.7/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "links/vendors/bootstrap-3.3.7/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "links/css/main.css" %}">
    <link rel="stylesheet" href="{% static "links/css/link-form.css" %}">
  </head>
  <body>
    <div class="container">
      {% block 'content' %}{% endblock %}
    </div>
  </body>
</html>
