{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Knowledge</title>
    <link rel="stylesheet" href="{% static "links/vendors/bootstrap-3.3.7/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "links/vendors/bootstrap-3.3.7/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "links/css/main.css" %}">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Some useful links</h1>
      </div>

      <div class="row links-row">
        {% for link in links %}
          <p><a href="{{ link.link }}" target="_blank">{{ link.title }}</a></p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
