{% extends 'links/base.html' %}

{% block 'content' %}

{% if user.is_authenticated %}

{% include "links/create-link-form.html" %}

<div class="row links-row">
  {% for link in links %}
    <div class="single-link">
      <p>{{ link.title }}</p>
      <span><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></span>
    </div>
  {% endfor %}
  {% include "links/pagination.html" with page=page_obj %}
</div>

{% else %}
{% include "links/login.html" with page=page_obj %}
{% endif %}

{% endblock %}
