.links-row {
  text-align: center;
  padding: 20px;
  padding-top: 0;
}

.links-row p {
  margin-bottom: 0;
}

.single-link {
  margin-top: 10px;
  border: 1px solid #dddddd;;
}

.page-header {
  text-align: center;
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.logout-button {
  margin-bottom: 5px;
}

ul.tagit li.tagit-choice-read-only {
  margin-top: 7px !important;
}

ul.tagit li.tagit-new {
  padding: 0 !important;
}

ul.tagit li.tagit-new input {
  height: 43px !important;
}

ul.tagit li {
  margin: 0px !important;
}

#tagged ul {
  border: 0px !important;
}